/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Elements CSS*/

body {
    font-family: 'Roboto';
    min-height: 100vh;
    margin: 0px;
    color:#E5E7EB;
}

a {
    color:#F9FAF8;
    text-decoration: none;
}


/* Class CSS */


.header {
    
    padding: 0% 20%; 
    padding-bottom: 5%;
    /* min-height: 300px; */
    display: flex;
    flex-flow: column wrap;
    background-color: #1F2937;
    
}

.logo {
    display: flex;
    align-self: center;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    gap: 16px;
    display: flex;   
    justify-content: space-between;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 16px;
}


.header-body {
    display: flex;
    /* max-height: 300px;
    max-width: 500px; */
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 128px;
    font-size: 18px;
    
    
}

.header-body .content {
    max-width: 450px;
}

.header-body h2{
color:#F9FAF8;
font-size: 48px;
font-weight: 900;
margin: 0;
}

.header-body button {
    background-color: #3882F6;
    padding: 4px 24px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}

.header-body .dog-image img{

    width: 600px;
    height: 250px;
    /* padding-left: 128px; */
    
}



/* Info section */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #787f8a;
    margin: 16px;
    
}

.info .info-title {
    color: #1F2937
}

.info-images {
        
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 16px;
    gap: 64px;
}

.info-item {
    max-width: 200px;
    gap: 16px;
}

.info .info-images .info-item img {
    
    border-radius: 16px;
    border: 4px solid #3882F6;
    width:200px;
}

/* quote section*/

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: black;
    

    font-style: italic;
    align-items: center;
    font-size: 36px;
    font-weight: 300;
    padding: 64px;
}

.quote p{
    
    max-width: 900px;
    padding-top: 64px;
    margin: 0px;
}

.quote .author {
    font-size: 20px;
    font-style: initial;
    
    font-weight: 600;
    padding-top: 0px;
    padding-left: 700px;
    display: flex;
}

/* Call to action Section */

.CTA {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    justify-content: space-between;

    max-height: 150px;
    max-width: 30%;
    margin: 96px auto;
    padding: 24px 128px;

    align-items: center;
}

.CTA h1 {
    font-size: 16px;
}

.CTA p {
    font-size: 12px;
}

.CTA button {
    background-color: #3882F6;
    color: white;
    border: white solid 1px;
    border-radius: 8px;
    padding: 4px 16px;
}

/* footer section*/

.footer {
    /* display: flex; */

    padding: 8px;

    background:#1F2937;
    text-align: center;
    font-size: 16px;

    
}
